/* =========================
ICONOS
========================= */
.paw-icon{
    color: rgb(160, 230, 225);
    font-size: 2rem;
}

.dog-icon{
    color: rgb(160, 230, 225);
    font-size: 2rem;
}

.location-icon{
    color: rgb(160, 230, 225);
    font-size: 2rem;
} 

.heart-icon{
    color: rgb(160, 230, 225);
    font-size: 2rem;
}

.calendar-icon{
    color: rgb(160, 230, 225);;
    font-size: 2rem;
}

.clock-icon{
    color: rgb(160, 230, 225);;
    font-size: 2rem;
}

.briefcase-medical-icon{
    color: rgb(160, 230, 225);;
    font-size: 2rem;
}

.stethoscope-icon{
    color: rgb(160, 230, 225);;
    font-size: 2rem;
}

.baseball-icon{
    color: rgb(160, 230, 225);;
    font-size: 2rem;
}

.facebook-icon{
    color: rgb(121, 85, 72);
    font-size: 1rem;
}

.instagram-icon{
    color: rgb(121, 85, 72);
    font-size: 1rem;
}

.youtube-icon{
    color: rgb(121, 85, 72);
    font-size: 1rem;
}
