/* =========================
UTILIDADES GENERALES
========================= */

/* =========================
CONTENEDORES
========================= */
.container {
    width: min(90%, 1100px);
    margin: 0 auto;
}

section,
aside {
    padding: 64px 0;
}

h1,h2, h3, h4, h5, h6 {
    color: white;
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
}

main {
    background: linear-gradient(135deg, #111827, #0f172a);
    color: white;
}

